$mainColor: #5A8DFF;
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto';
}
@font-face {
  font-family: 'Noto';
  src: url('./fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
  font-family: "league";
  src: url('./fonts/League_Gothic/static/LeagueGothic/LeagueGothic-Regular.ttf');
  font-weight: 500;
}
// navbar 
.navbar{
  position: relative;
  color: $mainColor;
  background-color: white;
  display: flex;
  height: 80px;
  width: 95%;
  margin: auto;

  .navbar__logo{
    padding: 17px;
    background-color: transparent;
  }
  .navbar__items{
    display: flex;
    align-items: center;
    height: 80px;
    line-height: 80px;
    .navbar__item{
      list-style: none;
      margin:  0 30px;
      color: $mainColor;
      cursor: pointer;
      
      transition: all 0.1s ease-in-out;
      &:link{
        text-decoration: none;
      }
      &:hover{
        
      }
    }
  }

}

